:root {
    --white: #ffffff;
    --head-text: rgb(67, 67, 67);
    --text-grey: rgb(132, 132, 132);
    --input-text-grey: rgb(190, 190, 190);
    --border-grey: rgb(234, 234, 234);
    --green: rgb(60, 184, 120);
    --hover-green: rgba(0, 0, 0, 0.35);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: url(../img/rana-sawalha.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
}

a.link {
    color: #3cb878;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
}

a.link:hover {
    border-bottom: 1px solid #3cb878;
}

.head-logo {
    margin-left: 51px;
    font-size: 20px;
    font-weight: 400;
}

.head-logo a {
    color: #ffffff;
}

.head-logo a:hover {
    color: #3cb878;
    border: none;
}

.log_in {
    margin-right: 75px;
    margin-top: 7px;
    justify-content: flex-end
}

.flex-container-header {
    padding: 15px 0;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.73);
}

.head-icon {
    display: flex;
    margin: 0 auto;
}

.inline-icons {
    list-style: none;
    display: inline;
    padding-right: 40px;
}

.inline-icon {
    height: 30px;
    display: inline-block;
    padding: 0 10px;
}

.bg-spritesic_caledar_1x {
    margin-top: 7px;
    display: block;
    width: 24px;
    height: 20px;
    background: url(../img/header-sprite.png) 0 0;
}

.bg-spritesic_journey_1x {
    margin-top: 7px;
    display: block;
    width: 30px;
    height: 20px;
    background: url(../img/header-sprite.png) 56px 0;
}

.bg-spritesic_forum_1x {
    margin-top: 7px;
    display: block;
    width: 30px;
    height: 20px;
    background: url(../img/header-sprite.png) 27px 0;
}

.bg-spritesic_caledar_1x:hover {
    background: url(../img/header-sprite.png) 0 -20px;
}

.bg-spritesic_journey_1x:hover {
    background: url(../img/header-sprite.png) 56px -20px;
}

.bg-spritesic_forum_1x:hover {
    background: url(../img/header-sprite.png) 27px -20px;
}

.transparent {
    position: relative;
    max-width: 444px;
    padding: 29px 60px 32px 62px;
    margin: 65px auto 0;
    background-size: cover;
}

.transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);
    border-radius: 25px;
}

.form-inner {
    position: relative;
}

.form-title {
    padding-bottom: 15px;
    display: flex;
}

.form-title::before {
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid var(--green);
    position: absolute;
    left: -62px;
    background-color: var(--green);
}

.form-title h3 {
    position: relative;
    margin-top: 0;
    color: var(--head-text);
    font-weight: 300;
    font-size: 20px;
    line-height: 21px;
    flex-grow: 2;
}

.form-title span {
    flex-grow: 2;
    text-align: right;
    width: 60px;
    background: none;
}

.form-inner::placeholder {
    display: block;
    font-size: 14pt;
    color: var(--input-text-grey);
    text-align: left;
    /* text-transform: uppercase; */
    font-size: 14px;
}

.form-inner input {
    display: block;
    width: 100%;
    height: 46px;
    padding: 19px 17px 17px 17px;
    margin-bottom: 17px;
    border-width: 0;
    border-radius: 2px;
    border: 1px solid var(--border-grey);
    color: var(--head-text);
    font-size: 14px;
}

.form-inner input:focus {
    width: 322px;
    height: 46px;
    border-radius: 3px;
    border: none;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.21));
    background-color: #ffffff;
    outline: none;
}

#custom-checkbox[type="checkbox"] {
    opacity: 0.5;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

#custom-checkbox[type="checkbox"]:checked {
    background-color: var(--white);
}

#custom-checkbox+label {
    cursor: pointer;
    display: inline-block;
    color: var(--head-text);
    padding-bottom: 17px;
}

.form-inner input[type="submit"] {
    background: #3cb878;
    margin: 0;
    padding: 0;
    color: var(--white);
}

.form-inner input[type="submit"]:hover {
    background-color: #329a65;
}

.line-or {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--border-grey);
    line-height: 0.1em;
    margin: 37px 0 21px;
    font-size: 14px;
    color: var(--text-grey);
}

.line-or span {
    background: #fff;
    padding: 0 10px;
}

.social-media {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
}

.soc-button {
    border-radius: 3px;
    height: 46px;
    font-size: 16px;
    width: 157px;
    color: var(--white);
    padding: 10px 0;
}

.btn-label {
    display: inline-block;
    width: 109px;
}

i.fa-facebook-f,
i.fa-google-plus {
    font-size: 20px;
    width: 46px;
    height: 28px;
    display: inline-block;
    border-right: 1px solid var(--head-text);
    padding-top: 2px;
}

.button-facebook {
    border: 1px solid #305db8;
    background-color: #305db8;
}

.button-facebook:hover {
    background-color: #264b96;
}

.button-google {
    border: 1px solid #df4a32;
    background-color: #df4a32;
}

.button-google:hover {
    background-color: #c3412c;
}


/* .bg-spritesic_caledar_1x {
	background: url(../img/header-sprite.png) -179px -28px;
}

.bg-spritesic_journey_1x {
	background: url(../img/header-sprite.png) -103px -28px;
}

.bg-spritesic_forum_1x {
	background: url(../img/header-sprite.png) -28px -28px;
} */

.sprit-login {
    display: flex;
}